body {
  background-image: url(../images/bluecircle.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.title {
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  font-size: 60px;
}

.emptyDiv {
  height:70px;
}

.logoPlacement {
  height: 130px;
  width: 500px;
  /*margin-top: 60px;*/
  /*margin-left: 5px;*/
  position: absolute;
  top: 10px;
  left: 80px;
}

/*.emptyDiv2 {
  height:70px;
  position: relative;
}*/

.adjCarousel {
  margin-top: 75px;
  /*margin-top: 100px;
  margin-left: 500px;
  position: absolute;*/
}

.changeWidth {
  width: 675px;
  margin-left: 75px;
}

.carousel .item {
  height: 300px;
  margin-top: 100px;
  margin-left: 50px;
  /*position: absolute;*/
}

.firstCarouselImg {
  height: 225px;
  width: 325px;
  float: left;
}

@media screen and (max-width: 978px) {
  .firstCarouselImg {
    height: 175px;
    width: 250px;
    float: left;
  }

}

.carouselText {
  float: right;
}

#adjTitle {
  font-size: 25px !important;
}

#adjCaption {
  font-size: 17px;
}

.carouselImg {
  height: 200px;
  width: 200px;
}

.logoCarouselImg {
  height: 175px;
  width: 175px;
}

#iconMargin {
  margin: 3px;
}

#tcb-testimonial-carousel {
  margin-top: 100px;
}
#tcb-testimonial-carousel a {
  color: ##2888D4;
}
#tcb-testimonial-carousel .text-brand {
  color: #b20000;
}
#tcb-testimonial-carousel .carousel-indicators .active {
  background: #b20000;
}
#tcb-testimonial-carousel .no-margin {
  margin: 0;
}
#tcb-testimonial-carousel .carousel-indicators li {
  border: 1px solid #ccc;
}
#tcb-testimonial-carousel .carousel-control {
  color: #b20000;
  width: 5%;
}
#tcb-testimonial-carousel .carousel-control:hover,
#tcb-testimonial-carousel .carousel-control:focus {
  color: #b20000;
}
#tcb-testimonial-carousel .carousel-control.left,
#tcb-testimonial-carousel .carousel-control.right {
  background-image: none;
}
#tcb-testimonial-carousel .item {
  padding: 15px 40px;
  background: #fffff;
}
#tcb-testimonial-carousel .media-object {
  margin: auto;
}
@media screen and (max-width: 768px) {
  .logoPlacement {
    height: 230px;
    width: 650px;
    margin-top: 55px;
    margin-left: -80px;
    position: absolute;
  }
}
