.red {
  color: red;
}

body {
  background-image: url(../images/bluecircle.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  /*background-position: center;*/
}
